{% extends 'navigation.html' %}
{% load static %}
{% block a %}
<div style="color:Black;border:1px solid white;border-radius:8px;background-color:white;padding:50px">

    <div>
        <h3><strong>Frequently Asked Questions</strong></h3><hr>
        <ul>
            <li><strong>How do I change the ticket?</strong><br>
                Sorry you cannot change it. If you want you can delete it. Thank you.</li>
            <li><strong>Can I cancel or modify my booked ticket?</strong><br>
                Reply: Yes, you can cancel or modify your ticket within the app, as long as it's within the specified cancellation and modification period. Check the app's terms and conditions for more details.</li>
            <li><strong>What payment methods are accepted on the app?</strong><br>
                Reply: We accept various payment methods, including credit/debit cards, net banking, and mobile wallets. Make sure to choose your preferred method during the booking process.</li>
            <li><strong>How can I retrieve my booked ticket details?</strong><br>
                Reply: You can find your booked ticket details in the "My Bookings" section of the app. Just log in, go to your profile, and access the list of your booked tickets.</li>
            <li><strong>I haven't received my booking confirmation. What should I do?</strong><br>
                Reply: Please check your spam or junk folder in your email. If you still haven't received the confirmation, you can log in to the app and view your booking details in the "My Bookings" section.</li>
            <li><strong>What documents do I need to carry while traveling with an e-ticket?</strong><br>
                Reply: You need to carry a printout of your e-ticket along with a valid photo ID proof. Make sure to present these documents to the train conductor when asked.</li>
        </ul>
    </div>
</div>
{% endblock %}
